@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Righteous Glory Hotel</h1>
    <p>Hotel <a href="https://docs.microsoft.com/aspnet/core"> room booking!!!</a>.</p>
</div>
